{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags member_tags %}

{% block body_class %}template-community-page{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
    
    <h1>Member's List</h1>
    {% get_member_emails as members %}

    {% if members %}
        {% paginate members by 20 as paginated_members %}
        <ul>
            {% for member in paginated_members %}
                {% get_user_from_email member.email as user %}
                <li>{{ user.email }} starring as {{ user.username }}</li>
            {% empty %}
                <li>No members found.</li>
            {% endfor %}
        </ul>

        <div class="pagination">
            {% if paginated_members.has_previous %}
                <a href="?page={{ paginated_members.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ paginated_members.number }} of {{ paginated_members.paginator.num_pages }}
            </span>

            {% if paginated_members.has_next %}
                <a href="?page={{ paginated_members.next_page_number }}">next</a>
            {% endif %}
        </div>
    {% else %}
        <p>No members found.</p>
    {% endif %}
{% endblock %}
