
{% extends "base.html" %}

{% load tz %}
{% load hitcount_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-magazineindexpage{% endblock %}

{% block content %}
    <h1>
        {{ page.title }}
    </h1>

    <div class="intro">
        {{ page.intro | richtext }}
    </div>
    <style>
        .box.page-content {
            padding: 20px; /* Add desired padding */
        }
    </style>
    {% if blogs %}
        {% for blog in blogs %}
        <article class="box page-content">
            {% image blog.display_image fill-800x240 as my_image %}
            <section>
                <h5 class="card-title font-weight-bold">
                    <i class="fa fa-star star-icon" aria-hidden="true"></i>{{ blog.title }}
                </h5>
                {% if my_image %}
                <span class="img-responsive">
                    <img src="{{ my_image.url }}" class="card-img-top" alt="{{ my_image.alt }}" />
                </span>
                {% endif %}
                <p class="author-category-date">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <a href="?author={{ blog.author.id }}">{{ blog.author.email }}</a>
                    &nbsp;&nbsp;
                    <i class="fa fa-folder folder-icon" aria-hidden="true"></i>
                    <a href="?category={{ blog.category }}">{{ blog.category }}</a>
                    &nbsp;&nbsp;
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    {{ blog.start_date | timezone:"Africa/Nairobi" | date:"F d, Y" }} Africa/Nairobi
                </p>
               
                {% if blog.teaser %}
                            <div class="teaser-section">
                                {{ blog.teaser | richtext }}
                            </div>
                            <p><a href="{% pageurl blog %}">Continue Reading</a></p>
                        {% endif %}
            </section>
        </article>
        {% endfor %}
    
        <div class="step-links ms-3 mt-1 text-center">
            {% if blogs.has_previous %}
                <a href="?page={{ blogs.previous_page_number }}" class="btn btn-outline-primary btn-sm">previous</a>
            {% endif %}

            <span class="current">
                Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
            </span>

            {% if blogs.has_next %}
                <a href="?page={{ blogs.next_page_number }}" class="btn btn-outline-primary btn-sm">next</a>
            {% endif %}
        </div>
    {% else %}
        <p>There are no blogs</p>
    {% endif %}
{% endblock %}
